Proyecto e-Learning/E-Learning/App_WebReferences/WCFElearning/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:5538/Service.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:5538/Service.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:5538/Service.svc?xsd=xsd2" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService_Insertar_usuario_InputMessage">
    <wsdl:part name="parameters" element="tns:Insertar_usuario" />
  </wsdl:message>
  <wsdl:message name="IService_Insertar_usuario_OutputMessage">
    <wsdl:part name="parameters" element="tns:Insertar_usuarioResponse" />
  </wsdl:message>
  <wsdl:message name="IService_Modificar_Usuario_InputMessage">
    <wsdl:part name="parameters" element="tns:Modificar_Usuario" />
  </wsdl:message>
  <wsdl:message name="IService_Modificar_Usuario_OutputMessage">
    <wsdl:part name="parameters" element="tns:Modificar_UsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="IService_Eliminar_Usuario_InputMessage">
    <wsdl:part name="parameters" element="tns:Eliminar_Usuario" />
  </wsdl:message>
  <wsdl:message name="IService_Eliminar_Usuario_OutputMessage">
    <wsdl:part name="parameters" element="tns:Eliminar_UsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="IService_Consultar_Usuario_InputMessage">
    <wsdl:part name="parameters" element="tns:Consultar_Usuario" />
  </wsdl:message>
  <wsdl:message name="IService_Consultar_Usuario_OutputMessage">
    <wsdl:part name="parameters" element="tns:Consultar_UsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="IService_Insertar_Tema_InputMessage">
    <wsdl:part name="parameters" element="tns:Insertar_Tema" />
  </wsdl:message>
  <wsdl:message name="IService_Insertar_Tema_OutputMessage">
    <wsdl:part name="parameters" element="tns:Insertar_TemaResponse" />
  </wsdl:message>
  <wsdl:message name="IService_Modificar_Tema_InputMessage">
    <wsdl:part name="parameters" element="tns:Modificar_Tema" />
  </wsdl:message>
  <wsdl:message name="IService_Modificar_Tema_OutputMessage">
    <wsdl:part name="parameters" element="tns:Modificar_TemaResponse" />
  </wsdl:message>
  <wsdl:message name="IService_Eliminar_Tema_InputMessage">
    <wsdl:part name="parameters" element="tns:Eliminar_Tema" />
  </wsdl:message>
  <wsdl:message name="IService_Eliminar_Tema_OutputMessage">
    <wsdl:part name="parameters" element="tns:Eliminar_TemaResponse" />
  </wsdl:message>
  <wsdl:message name="IService_Consultar_tema_InputMessage">
    <wsdl:part name="parameters" element="tns:Consultar_tema" />
  </wsdl:message>
  <wsdl:message name="IService_Consultar_tema_OutputMessage">
    <wsdl:part name="parameters" element="tns:Consultar_temaResponse" />
  </wsdl:message>
  <wsdl:message name="IService_Mostrar_Temas_xCursos_InputMessage">
    <wsdl:part name="parameters" element="tns:Mostrar_Temas_xCursos" />
  </wsdl:message>
  <wsdl:message name="IService_Mostrar_Temas_xCursos_OutputMessage">
    <wsdl:part name="parameters" element="tns:Mostrar_Temas_xCursosResponse" />
  </wsdl:message>
  <wsdl:message name="IService_Insertar_curso_InputMessage">
    <wsdl:part name="parameters" element="tns:Insertar_curso" />
  </wsdl:message>
  <wsdl:message name="IService_Insertar_curso_OutputMessage">
    <wsdl:part name="parameters" element="tns:Insertar_cursoResponse" />
  </wsdl:message>
  <wsdl:message name="IService_Modificar_curso_InputMessage">
    <wsdl:part name="parameters" element="tns:Modificar_curso" />
  </wsdl:message>
  <wsdl:message name="IService_Modificar_curso_OutputMessage">
    <wsdl:part name="parameters" element="tns:Modificar_cursoResponse" />
  </wsdl:message>
  <wsdl:message name="IService_Eliminar_curso_InputMessage">
    <wsdl:part name="parameters" element="tns:Eliminar_curso" />
  </wsdl:message>
  <wsdl:message name="IService_Eliminar_curso_OutputMessage">
    <wsdl:part name="parameters" element="tns:Eliminar_cursoResponse" />
  </wsdl:message>
  <wsdl:message name="IService_Consultar_curso_InputMessage">
    <wsdl:part name="parameters" element="tns:Consultar_curso" />
  </wsdl:message>
  <wsdl:message name="IService_Consultar_curso_OutputMessage">
    <wsdl:part name="parameters" element="tns:Consultar_cursoResponse" />
  </wsdl:message>
  <wsdl:message name="IService_Mostrar_Cursos_Usuario_InputMessage">
    <wsdl:part name="parameters" element="tns:Mostrar_Cursos_Usuario" />
  </wsdl:message>
  <wsdl:message name="IService_Mostrar_Cursos_Usuario_OutputMessage">
    <wsdl:part name="parameters" element="tns:Mostrar_Cursos_UsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="IService_Insertar_Categorias_InputMessage">
    <wsdl:part name="parameters" element="tns:Insertar_Categorias" />
  </wsdl:message>
  <wsdl:message name="IService_Insertar_Categorias_OutputMessage">
    <wsdl:part name="parameters" element="tns:Insertar_CategoriasResponse" />
  </wsdl:message>
  <wsdl:message name="IService_Modificar_Categorias_InputMessage">
    <wsdl:part name="parameters" element="tns:Modificar_Categorias" />
  </wsdl:message>
  <wsdl:message name="IService_Modificar_Categorias_OutputMessage">
    <wsdl:part name="parameters" element="tns:Modificar_CategoriasResponse" />
  </wsdl:message>
  <wsdl:message name="IService_Eliminar_Categoria_InputMessage">
    <wsdl:part name="parameters" element="tns:Eliminar_Categoria" />
  </wsdl:message>
  <wsdl:message name="IService_Eliminar_Categoria_OutputMessage">
    <wsdl:part name="parameters" element="tns:Eliminar_CategoriaResponse" />
  </wsdl:message>
  <wsdl:message name="IService_Mostrar_Categorias_InputMessage">
    <wsdl:part name="parameters" element="tns:Mostrar_Categorias" />
  </wsdl:message>
  <wsdl:message name="IService_Mostrar_Categorias_OutputMessage">
    <wsdl:part name="parameters" element="tns:Mostrar_CategoriasResponse" />
  </wsdl:message>
  <wsdl:message name="IService_Mostrar_Contenidos_XTemas_InputMessage">
    <wsdl:part name="parameters" element="tns:Mostrar_Contenidos_XTemas" />
  </wsdl:message>
  <wsdl:message name="IService_Mostrar_Contenidos_XTemas_OutputMessage">
    <wsdl:part name="parameters" element="tns:Mostrar_Contenidos_XTemasResponse" />
  </wsdl:message>
  <wsdl:portType name="IService">
    <wsdl:operation name="Insertar_usuario">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/Insertar_usuario" message="tns:IService_Insertar_usuario_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/Insertar_usuarioResponse" message="tns:IService_Insertar_usuario_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Modificar_Usuario">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/Modificar_Usuario" message="tns:IService_Modificar_Usuario_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/Modificar_UsuarioResponse" message="tns:IService_Modificar_Usuario_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Eliminar_Usuario">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/Eliminar_Usuario" message="tns:IService_Eliminar_Usuario_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/Eliminar_UsuarioResponse" message="tns:IService_Eliminar_Usuario_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Consultar_Usuario">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/Consultar_Usuario" message="tns:IService_Consultar_Usuario_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/Consultar_UsuarioResponse" message="tns:IService_Consultar_Usuario_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Insertar_Tema">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/Insertar_Tema" message="tns:IService_Insertar_Tema_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/Insertar_TemaResponse" message="tns:IService_Insertar_Tema_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Modificar_Tema">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/Modificar_Tema" message="tns:IService_Modificar_Tema_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/Modificar_TemaResponse" message="tns:IService_Modificar_Tema_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Eliminar_Tema">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/Eliminar_Tema" message="tns:IService_Eliminar_Tema_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/Eliminar_TemaResponse" message="tns:IService_Eliminar_Tema_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Consultar_tema">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/Consultar_tema" message="tns:IService_Consultar_tema_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/Consultar_temaResponse" message="tns:IService_Consultar_tema_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Mostrar_Temas_xCursos">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/Mostrar_Temas_xCursos" message="tns:IService_Mostrar_Temas_xCursos_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/Mostrar_Temas_xCursosResponse" message="tns:IService_Mostrar_Temas_xCursos_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Insertar_curso">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/Insertar_curso" message="tns:IService_Insertar_curso_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/Insertar_cursoResponse" message="tns:IService_Insertar_curso_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Modificar_curso">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/Modificar_curso" message="tns:IService_Modificar_curso_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/Modificar_cursoResponse" message="tns:IService_Modificar_curso_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Eliminar_curso">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/Eliminar_curso" message="tns:IService_Eliminar_curso_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/Eliminar_cursoResponse" message="tns:IService_Eliminar_curso_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Consultar_curso">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/Consultar_curso" message="tns:IService_Consultar_curso_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/Consultar_cursoResponse" message="tns:IService_Consultar_curso_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Mostrar_Cursos_Usuario">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/Mostrar_Cursos_Usuario" message="tns:IService_Mostrar_Cursos_Usuario_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/Mostrar_Cursos_UsuarioResponse" message="tns:IService_Mostrar_Cursos_Usuario_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Insertar_Categorias">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/Insertar_Categorias" message="tns:IService_Insertar_Categorias_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/Insertar_CategoriasResponse" message="tns:IService_Insertar_Categorias_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Modificar_Categorias">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/Modificar_Categorias" message="tns:IService_Modificar_Categorias_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/Modificar_CategoriasResponse" message="tns:IService_Modificar_Categorias_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Eliminar_Categoria">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/Eliminar_Categoria" message="tns:IService_Eliminar_Categoria_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/Eliminar_CategoriaResponse" message="tns:IService_Eliminar_Categoria_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Mostrar_Categorias">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/Mostrar_Categorias" message="tns:IService_Mostrar_Categorias_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/Mostrar_CategoriasResponse" message="tns:IService_Mostrar_Categorias_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Mostrar_Contenidos_XTemas">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/Mostrar_Contenidos_XTemas" message="tns:IService_Mostrar_Contenidos_XTemas_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/Mostrar_Contenidos_XTemasResponse" message="tns:IService_Mostrar_Contenidos_XTemas_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService" type="tns:IService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Insertar_usuario">
      <soap:operation soapAction="http://tempuri.org/IService/Insertar_usuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Modificar_Usuario">
      <soap:operation soapAction="http://tempuri.org/IService/Modificar_Usuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Eliminar_Usuario">
      <soap:operation soapAction="http://tempuri.org/IService/Eliminar_Usuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Consultar_Usuario">
      <soap:operation soapAction="http://tempuri.org/IService/Consultar_Usuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Insertar_Tema">
      <soap:operation soapAction="http://tempuri.org/IService/Insertar_Tema" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Modificar_Tema">
      <soap:operation soapAction="http://tempuri.org/IService/Modificar_Tema" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Eliminar_Tema">
      <soap:operation soapAction="http://tempuri.org/IService/Eliminar_Tema" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Consultar_tema">
      <soap:operation soapAction="http://tempuri.org/IService/Consultar_tema" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Mostrar_Temas_xCursos">
      <soap:operation soapAction="http://tempuri.org/IService/Mostrar_Temas_xCursos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Insertar_curso">
      <soap:operation soapAction="http://tempuri.org/IService/Insertar_curso" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Modificar_curso">
      <soap:operation soapAction="http://tempuri.org/IService/Modificar_curso" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Eliminar_curso">
      <soap:operation soapAction="http://tempuri.org/IService/Eliminar_curso" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Consultar_curso">
      <soap:operation soapAction="http://tempuri.org/IService/Consultar_curso" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Mostrar_Cursos_Usuario">
      <soap:operation soapAction="http://tempuri.org/IService/Mostrar_Cursos_Usuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Insertar_Categorias">
      <soap:operation soapAction="http://tempuri.org/IService/Insertar_Categorias" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Modificar_Categorias">
      <soap:operation soapAction="http://tempuri.org/IService/Modificar_Categorias" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Eliminar_Categoria">
      <soap:operation soapAction="http://tempuri.org/IService/Eliminar_Categoria" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Mostrar_Categorias">
      <soap:operation soapAction="http://tempuri.org/IService/Mostrar_Categorias" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Mostrar_Contenidos_XTemas">
      <soap:operation soapAction="http://tempuri.org/IService/Mostrar_Contenidos_XTemas" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="BasicHttpBinding_IService" binding="tns:BasicHttpBinding_IService">
      <soap:address location="http://localhost:5538/Service.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>